*{
    box-sizing: border-box;
    margin: 0;
    border: 0;

}
.wrapper{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header.header{
    display: flex;
    width: 100vw;
    padding: .5rem;
    background-color: rgb(212, 212, 212);
    justify-content: space-around;
    align-items:center;
}
.logo{
    font-size: 1.5rem;
    align-self:flex-start;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
    color: blue;
}
table{
    margin: 2rem;
}
tr{
    border: 0;
    margin: 0;

}
table th{
    min-width: 4vw;
    font-size: 1.5rem;
}
table tr{
    background-color: rgb(241, 241, 241);
}

table td{
    font-size: 1.5rem;
    padding: 0 1.2rem;
}
 input{
    font-size: 1.2rem;
    width: 6rem;
    box-shadow: 0px 0px 1px 1px grey;
}
tr:nth-child(even){
    background-color: rgb(177, 177, 177);
}
div.chartContainer{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1vh;
    height: 25vh;
    max-width: 80vw ;
}
div.readyQueue{
    display: flex;
    margin-top: 1rem;
}
div.ready{

}
div.past{
    background-color: grey;
}
div.time{
    height: 6vh;
    min-width: 6vh;
    padding: 1vh;
    width: max-content;
    border: 1px solid black;
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.idle{
    background-color: rgb(22, 22, 22);
    color: white;
}
@keyframes grow {
    from{width: 0;}
    to{width: 5vh;}
}

div.ganttChart{
    display: flex;
}
button{
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 9px;
    border: 1px solid blue;
    background-color: white;
    box-shadow: 0px 1px 1px 1px gray;
}
h6.checkPoint{
    font-size: 1.5rem;
    position: relative;
    top: 5vh;
    left: -2vh;
    z-index: 1;
}

@keyframes grow {
    from{
        width: 0;
        border-radius: 0 4vh 4vh 0;
    }
    to{  
        border-radius: 0 4vh 4vh 0;
      }
}